<div class="flex flex-column gap-1 w-full mt-2">
  <!-- Multiattacks -->
  @if (monster().monsterActions.multiattacks; as multiattacks) {
    @for (multi of multiattacks; track $index) {
      <p-card
        class="w-full"
        [dt]="{ bodyPadding: '0.4rem', contentPadding: '0' }"
      >
        <div class="flex align-items-center gap-2">
          <i class="pi pi-bolt text-primary"></i>
          <span class="text-sm">
          {{ formatMultiattack(monster().name, multi, monster().monsterActions.actions) }}
        </span>
        </div>
      </p-card>
    }
  }

  <!-- Individual Actions -->
  @if (monster().monsterActions.actions; as actions) {
    @for (action of actions; track action.actionId) {
      <p-card
        class="w-full"
        [dt]="{ bodyPadding: '0.4rem', contentPadding: '0' }"
      >
        <div class="flex align-items-center gap-2">
          <i class="pi pi-shield text-primary"></i>
          <span class="text-sm">
          <strong>{{ action.name }}</strong>
          @if (monster().monsterActions.rechargeActions[action.actionId]; as recharge) {
            Recharge: {{ recharge }}
          }
          {{ formatMonsterAction(action) }}
        </span>
        </div>
      </p-card>
    }
  }
</div>
