<app-library-page
  title="Characters Library"
  description="Browse and manage your collection of characters for simulations."
  listTitle="Characters"
  detailTitle="Character"
  emptyMessage="Select a character from the list to view its details."
  [hasSelection]="!!characterService.selectedCharacter()"
  [search]="searchTerm()"
  (searchChange)="searchTerm.set($event)"
>
  <ng-container actions>
    <p-button label="Import" icon="pi pi-download" severity="secondary" pTooltip="Import Character JSON"></p-button>
    <p-button label="Create" icon="pi pi-plus" severity="primary" (onClick)="onCreateCharacter()"></p-button>
  </ng-container>

  <app-shared-table
    list
    mode="character"
    [searchTerm]="searchTerm()"
    [showAddToSimulator]="true"
    (addToSimulator)="onAddToSimulator($event)"
  ></app-shared-table>

  <ng-container detailActions>
    @if (characterService.selectedCharacter(); as character) {
      @if (character.isCustom) {
        <p-button icon="pi pi-pencil" [text]="true" pTooltip="Edit Character" (onClick)="onEditCharacter(character)"></p-button>
        <p-button icon="pi pi-trash" severity="danger" [text]="true" pTooltip="Delete Character" (onClick)="onDeleteCharacter(character)"></p-button>
      }
      <p-button icon="pi pi-copy" [text]="true" pTooltip="Duplicate Character"></p-button>
    }
  </ng-container>

  <ng-container detail>
    @if (characterService.selectedCharacter(); as a) {
      <app-actor-card [actor]="a" [hideState]="true" [startExpanded]="true"></app-actor-card>
    }
  </ng-container>
</app-library-page>

<app-character-editor [(visible)]="isEditorVisible" [itemToEdit]="characterToEdit()"></app-character-editor>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
