@use 'layout' as l;

:host {
  display: block;
}

.history-panel {
  padding: l.space(6);
  border: 1px solid var(--p-content-border-color);
  border-radius: var(--p-border-radius-lg);
  background: var(--p-content-background);
}

.history-title {
  margin: 0 0 l.space(4);
  font-size: 1.875rem;
  font-weight: 700;
}

.history-text {
  margin: 0;
  color: var(--p-text-muted-color);
}
