<app-library-page
  title="Equipment"
  description="Browse and manage weapons and armor for your characters."
  listTitle="Items"
  detailTitle="Item Details"
  emptyMessage="Select an item from the list to view its details."
  [hasSelection]="!!equipmentService.selectedEquipment()"
  [search]="searchTerm()"
  (searchChange)="searchTerm.set($event)"
>
  <ng-container actions>
    <p-button label="Import Item" icon="pi pi-download" severity="secondary"></p-button>
    <p-button label="Create Item" icon="pi pi-plus" severity="primary" (onClick)="onCreateItem()"></p-button>
  </ng-container>

  <p-tabs tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
    <p-tablist>
      <p-tab value="all">All</p-tab>
      <p-tab value="armor">Armor</p-tab>
      <p-tab value="weapons">Weapons</p-tab>
    </p-tablist>
  </p-tabs>

  <app-shared-table
    list
    mode="equipment"
    [searchTerm]="searchTerm()"
    [categoryFilter]="activeTab()"
  ></app-shared-table>

  <ng-container detailActions>
    @if (equipmentService.selectedEquipment(); as item) {
      <p-button icon="pi pi-pencil" [text]="true" pTooltip="Edit Item" (onClick)="onEditItem(item)"></p-button>
      <p-button icon="pi pi-trash" severity="danger" [text]="true" pTooltip="Delete Item" (onClick)="onDeleteItem(item)"></p-button>
    }
  </ng-container>

  <ng-container detail>
    @if (equipmentService.selectedEquipment(); as item) {
      <app-equipment-card [item]="item"></app-equipment-card>
    }
  </ng-container>
</app-library-page>

<app-equipment-editor [(visible)]="isEditorVisible" [itemToEdit]="itemToEdit()"></app-equipment-editor>
