<app-library-page
  title="Spells"
  description="Browse and manage spells for your combatants."
  listTitle="Spells"
  detailTitle="Spell Details"
  emptyMessage="Select a spell from the list to view its details."
  [hasSelection]="!!spellsService.selectedSpell()"
  [search]="searchTerm()"
  (searchChange)="searchTerm.set($event)"
>
  <ng-container actions>
    <p-button label="Import Spell" icon="pi pi-download" severity="secondary"></p-button>
    <p-button label="Create Spell" icon="pi pi-plus" severity="primary" (onClick)="onCreateSpell()"></p-button>
  </ng-container>

  <p-tabs tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
    <p-tablist>
      <p-tab value="all">All</p-tab>
      <p-tab value="damage">Damage</p-tab>
      <p-tab value="healing">Healing</p-tab>
      <p-tab value="utility">Utility</p-tab>
    </p-tablist>
  </p-tabs>

  <app-shared-table
    list
    mode="spells"
    [searchTerm]="searchTerm()"
    [categoryFilter]="activeTab()"
  ></app-shared-table>

  <ng-container detailActions>
    @if (spellsService.selectedSpell(); as item) {
      <p-button icon="pi pi-pencil" [text]="true" pTooltip="Edit Spell" (onClick)="onEditSpell(item)"></p-button>
      <p-button icon="pi pi-trash" severity="danger" [text]="true" pTooltip="Delete Spell" (onClick)="onDeleteSpell(item)"></p-button>
    }
  </ng-container>

  <ng-container detail>
    @if (spellsService.selectedSpell(); as selectedItem) {
      <app-spell-card [item]="selectedItem"></app-spell-card>
    }
  </ng-container>
</app-library-page>

<app-spell-editor [(visible)]="isEditorVisible" [itemToEdit]="spellToEdit()"></app-spell-editor>
